:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Introdução Rhe */
.introducao-rhe {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  color: white;
}
.container-rhe {
  max-width: 70vw;
  background-color: #00796b;
  padding: 4rem 10rem 0 9.5rem;
  flex: 1;
}
.logo-rhe {
  margin-bottom: 3rem;
}
.logo-rhe img {
  display: block;
  max-width: 100%;
}
.container-rhe p {
  font-size: 1.8rem;
}
.container-rhe h1 {
  max-width: 454px;
  font-size: 3.6rem;
  margin: 3rem 0 3rem 0;
  font-weight: 500;
}
.container-rhe h1 + p {
  max-width: 454px;
  margin-bottom: 6rem;
}
.container-phone {
  max-width: 30vw;
}
.container-phone img {
  display: block;
  max-width: 100%;
}
.btn {
  border: none;
  background: #142850;
  border-radius: 4px;
}
.btn a {
  display: block;
  background: #142850;
  width: 200px;
  padding: 1.3rem;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}
/* seçao valores */
.valores-rhe {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}
.container-valores {
  margin: 17rem 16rem 60rem 16rem;
}
.container-valores h1 {
  font-size: 4.8rem;
  text-align: center;
  color: #00796b;
  margin-bottom: 5rem;
}
.container-valores h1 + p {
  font-size: 2.4rem;
  color: #00796b;
  text-align: center;
  margin-bottom: 7rem;
}
.container-valores span {
  color: #000;
}
.container-valores h1 + p + p {
  font-size: 2.4rem;
  color: #00796b;
  text-align: center;
}
